@import "./variables";

.app {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  background-color: $background-color;
  //padding-top: 2 * $toolbar-height;
}

._container {
  margin: 0 auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: $container-width;
}

.btn {
  height: 25px;
  padding: 3px 15px;
  cursor: pointer;
  position: relative;
  transition: all .4s ease-out;
  &:hover {
    transform: scale(1.1);
  }
  &[disabled] {
    &:hover {
      transform: none;
    }
    cursor: not-allowed;
  }
}
