@import "./variables";

.toolbar {
  position: absolute;
  height: $toolbar-height;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 5px gray;
  &.settings {
    top: $toolbar-height;
  }
  &.tool {
    top: 0;
    z-index: 5;
  }
  & .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover !important;
    position: relative;
    &[disabled] {
      opacity: .4;
      cursor: default;
    }
    &.active {
      &.toolbar__btn::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        border: 1px solid black;
        top: -4px;
        left: -4px;
      }
    }
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &.brush {
      background: url("../assets/img/brush.png") no-repeat center;
    }
    &.rect {
      background: url("../assets/img/rect.png") no-repeat center;
    }
    &.circle {
      background: url("../assets/img/circle.png") no-repeat center;
    }
    &.eraser {
      background: url("../assets/img/eraser.png") no-repeat center;
    }
    &.line {
      background: url("../assets/img/line.png") no-repeat center;
    }
    &.color {
      margin-left: 20px;
    }
    &.redo {
      background: url("../assets/img/redo.png") no-repeat center;
    }
    &.undo {
      background: url("../assets/img/undo.png") no-repeat center;
    }
    &.save {
      background: url("../assets/img/save.png") no-repeat center;
    }
  }
  &__draw,
  &__options {
    display: flex;
    align-items: center;
  }
}

.settings {
  &__styles,
  &__control {
    display: flex;
    align-items: center;
  }
  &__styles {
    gap: 1rem;
  }
  &__control {
    gap: .4rem;
    & input[type="number"] {
      width: 40px;
      height: 25px;
    }
  }
  &__btn {
    height: 25px;
    padding: 3px 15px;
    cursor: pointer;
    position: relative;
    &:hover {
      top: 1px;
      left: 1px;
      box-shadow: -2px -2px 2px 1px aquamarine;
    }
  }
}